@model IEnumerable<WebApp.ViewModels.ListViewModel>
@{
    ViewBag.Title = "Все пользователи";
}
<form asp-action="DeleteUser" asp-controller="Users" method="post">
    <table class="table"
           <thead>
               <tr>
                   <th>
                       <input type="checkbox" name="allcheck" id="selectAll" />Select All
                   </th>
                   <th>Id</th>
                   <th>Email</th>
                   <th></th>
               </tr>
           </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="hidden" asp-for="@item.Emps.Value" />
                    <input asp-for="@item.Emps.Selected" />
                    <input type="hidden" asp-for="@item.Id" />
                </td>

                <td>
                    <input type="hidden" asp-for="@item.Email" />
                    <label asp-for="@item.Email">@item.Email</label>
                </td>
            </tr>
        }
    </tbody>
    </table>
    <div>
        <input type="submit" value="Delete" />
    </div>
</form>
@section scripts{ 
<script>
    $(function () {
        $("#selectAll").click(function () {
            $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
        });
        $("input[type=checkbox]").click(function () {
            if (!$(this).prop("checked")) {
                $("#selectAll").prop("checked", false);
            }
        });
    })

</script>
}